// {{ ansible_managed }}
//
// On many pages, using dark theme for widgets makes the content unreadable, so
// we enforce using bright variant for content. Does not affect the rest of UI.

pref("widget.content.gtk-theme-override", "Arc");
